<div class="outside">
  <div class="arrow arrow-prev" (click)="prevProblem()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </div>
  <div class="content-container">
    <h3>{{project.title}}</h3>
    <div></div> <!--empty div to take up grid space-->
    <div class="content">
      <div class="info">
        <h5>About</h5>
        <p>{{project.about}}</p>
        <h5>Built With</h5>
        <p style="white-space: pre-wrap">{{project.builtWith}}</p>
        <app-socialbutton company="GitHub" text="GitHub link" link="{{project.githubLink}}" [ngStyle]="{'display': 'grid', 'place-items': 'center'}"></app-socialbutton>
      </div>
    </div>
    <app-carousel [toDisplay]="project.media"></app-carousel>
  </div>
  <div class="arrow arrow-next" (click)="nextProblem()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </div>
</div>
