/*div {*/
/*  margin: 100px 0px;*/
/*}*/

h1, h2, h3 {
  text-align: center;
  z-index: 5;
}

.cover {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bubble {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 99999em;
  background-color: red;
  border: 3px solid black;
  display: grid;
  place-items: center;
}
