/*div {*/
/*  margin: 100px 0px;*/
/*}*/

h1, h2, h3 {
  text-align: center;
}

.info-container {
  position: absolute;
  z-index: 15;
}

.cover {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bubble {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 99999em;
  background: rgb(230,238,174);
  background: radial-gradient(circle at 50% 120%, rgba(230,238,174,1) 0%, rgba(148,187,233,1) 100%);
  border: 3px solid black;
  display: grid;
  place-items: center;
}
