.links {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;
}

@media (min-width: 500px) {
  .links {
    grid-template-columns: 1fr 1fr;
  }
}

.links > *:first-child {
  justify-self: end;
}

.links > *:last-child {
  justify-self: start;
}
