<section>
  <app-title title="Problem Solving" blurb="LeetCode and Codewars are both websites that test your ability to solve programming problems and see how your solution compares to others.
      Combined over the 2 sites I've solved over 400 programming problems, ranked in the top 1% of users on Codewars and the top 12% of users on Leetcode.
      Included below are 2 solutions visualised, that are ranked in the hardest category of problems on Codewars, along with a small description of how they work.">
    <div class="links">
      <app-socialbutton company="LeetCode"></app-socialbutton>
      <app-socialbutton company="Codewars"></app-socialbutton>
    </div>
  </app-title>
  <app-problemhighlight>
    <app-minesweeper-display *ngIf="problem.title.toLowerCase().includes('minesweeper')"></app-minesweeper-display>
    <app-skyscrapersDisplay *ngIf="problem.title.toLowerCase().includes('skyscrapers')"></app-skyscrapersDisplay>
  </app-problemhighlight>
</section>
