div {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 50px;
  text-align: center;
  grid-gap: 30px;
}

h2 {
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 300;
}
