<div class="container">
  <h4>{{problem.title}}</h4>
  <div>
    <div>
      <h5>Problem Description</h5>
      <p>{{problem.description}}</p>
    </div>

    <div>
      <ul class="pagination">
        <li class="page-item active" (click)="onApproachPage()">
      <span class="page-link">
        Approach<span class="sr-only">(current)</span>
      </span>
        </li>
        <li class="page-item" (click)="onRunCodePage()">
          <a class="page-link" href="#">Run</a>
        </li>
        <li class="page-item" (click)="onShowCodePage()">
          <a class="page-link" href="#">Display</a>
        </li>
      </ul>

      <div *ngIf="isApproachPage()">
        <p>I approached this problem by reading the description and then I did it.</p>
        <p>{{problem.approach}}</p>
      </div>

      <div *ngIf="isRunCodePage()">
        <form #contactForm="ngForm" (ngSubmit)="onUserInput(contactForm)">
          <div class="form-group">
            <label for="input">Input: </label>
            <input type="text" class="form-control" id="input">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <label for="output">Output: </label>
          <textarea readonly="readonly" id="output"></textarea>
        </form>
      </div>

      <div *ngIf="isShowCodePage()">
        <pre>
          <code>
            {{problem.codeDisplay}}
          </code>
        </pre>
      </div>
    </div>


  </div>
</div>
