.container {
  display: grid;
  place-items: center;
  height: 100%;
}

.skyscrapers-container {
  display: grid;
}

.skyscrapers-container input {
  height: 50px;
  border: 1px solid black;
}

.square-row {
  width: 100%;
  display: grid;
}

.square {
  background: lightblue;
}

.clue {
  border: none;
}

input {
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.user-input {
  font-weight: bold;
}

.controls {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 1400px) {
  .controls {
    margin-top: 20px;
  }
}

.controls > div {
  grid-column: 1 / span 2;
  margin: 0;
  display: flex;
}

.controls p {
  white-space: pre-wrap;
}

.controls label, .controls p, .controls button:first-of-type {
  margin: 0;
  justify-self: end;
}

.controls input, .controls button:last-of-type {
  justify-self: start;
}

.spinner-border {
  height: 1rem;
  width: 1rem;
}

.final-time {
  font-weight: bold;
}
