<div>
  <app-title title="Skills" blurb="Having now been writing code for over 5 years (1 in professional environments),
  I've had the chance to use many different technologies across multiple languages and frameworks.
  The aim has been to create a strong and wide knowledge base, and also become more comfortable with picking up unfamiliar technologies.
  Learning these skills has been a fantastic experience and I'm looking to use these technologies & more in my career."></app-title>
  <div class="container" #skillsContainer [ngStyle]="{'grid-template-columns': ((100/skills.length)+'% ').repeat(skills.length)}">
    <app-skillitem *ngFor="let skill of skills" [technology]="skill" [containerWidth]="eachContainerWidth"></app-skillitem>
  </div>
</div>
