<div>
  <app-title title="Key Skills" blurb="Whilst studying at University I've used many different technologies (both at uni and in my spare time) to
  acquire a broad range of skills, before looking to learn more and specialise through a career.
  The aim was to create a strong and broad knowledge base to help understand which technologies I prefer and want to go on to master."></app-title>
  <div class="container" #skillsContainer [ngStyle]="{'grid-template-columns': ((100/skills.length)+'% ').repeat(skills.length)}">
    <app-skillitem *ngFor="let skill of skills" [technology]="skill" [containerWidth]="eachContainerWidth"></app-skillitem>
  </div>
</div>
