<nav id="navbar" class="navbar navbar-light navbar-expand-lg bg-light">
  <a class="navbar-brand" (click)="scrollIntoView('home')">Peter'sProjects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sectionLinks" aria-controls="sectionLinks" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="sectionLinks">
  <ul class="nav nav-pills">
    <li class="nav-item" (click)="scrollIntoView('home')">
      <a class="nav-link" href="#home">Home</a>
    </li>
    <li class="nav-item" (click)="scrollIntoView('skills')">
      <a class="nav-link" href="#skills">Skills</a>
    </li>
    <li class="nav-item" (click)="scrollIntoView('projects')">
      <a class="nav-link" href="#projects">Projects</a>
    </li>
    <li class="nav-item" (click)="scrollIntoView('solving')">
      <a class="nav-link" href="#solving">Problem Solving</a>
    </li>
    <li class="nav-item" (click)="scrollIntoView('contact')">
      <a class="nav-link" href="#contact">Contact</a>
    </li>
  </ul>
  </div>
</nav>
