.overlay {
  position: fixed;
  background: rgba(0,0,0,0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 200;
}

.overlay > button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  padding: 5px;
}

.info {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  background: rgba(0,0,0,0.2);
  color: white;
}

.img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
