<div class="project-page">
  <app-title title="Projects" blurb="In addition to smaller items to practice with a technology, I've also created a few bigger
   projects in my spare time and at uni which have been fantastic learning experiences.
  Not only did they allow me to become more intimate with the libraries, but they also gave me experience in
  managing bigger codebases and learning to write modular, testable code. All projects are open source and the code is available to
   view on my GitHub, with a link included with each project."></app-title>
    <div class="card-container">
      <div class="project-card"
           *ngFor="let p of projects; let i = index;"
      (click)="onChangeProject(i)"
      [ngClass]="selectedProject == p ? 'selected' : ''">
          <div class="img-container" [ngStyle]="{'background-image': 'url('+p.previewImgLink+')'}" >
          </div>
          <div class="info">
            <h5>{{p.title}}</h5>
            <p>{{p.blurb}}</p>
        </div>
        </div>
      </div>

  <app-projecthighlight [project]="selectedProject"></app-projecthighlight>
</div>
