.project-page {
  display: grid;
  place-items: center;
}


.img-container {
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  height: 100%;
}

img {
  vertical-align: center;
  text-align: center
}

.card-container {
  width: 75%;
  min-width: 400px;
  height: 100%;
  padding: 30px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 100%;
  align-content: center;
  justify-content: center;
}

@media (min-width: 1400px) {
  .card-container {
    grid-template-columns: repeat(2, calc(50% - 20px));
  }
}

.project-card {
  cursor: pointer;
  border: 3px solid lightgrey;
  display: grid;
  grid-template-columns: 33% auto;
  grid-gap: 10px;
  grid-template-rows: 100px;
  align-items: center;
  width: 100%;
  position: relative;
}

.project-card.selected::before, .project-card.selected::after {
  content: '';
  position: absolute;
  width: 10px;
  height: calc(100% + 6px);
  background: goldenrod;
}
.project-card.selected::before {
  left: -16px;
}
.project-card.selected::after {
  right: -16px;
}

.project-card .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info * {
  margin: 0;
}

.img-container {
  position: relative;
}

.project-card img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
