<div class="project-page">
  <app-title title="Projects" blurb="In addition to creating small projects to practice with a technology, I've also created a few more fleshed out
   projects, complete with tests and deployed to the cloud.
  These projects gave me experience in
  managing bigger codebases, learning to write modular, testable code and managing the CI/CD & Infrastructure. All projects are open source and the code is available to
   view on my GitHub, with a link included with each project."></app-title>
    <div class="card-container">
      <div class="project-card"
           *ngFor="let p of projects; let i = index;"
      (click)="onChangeProject(i)"
      [ngClass]="selectedProject == p ? 'selected' : ''">
          <div class="img-container" [ngStyle]="{'background-image': 'url('+p.previewImgLink+')'}" >
          </div>
          <div class="info">
            <h5>{{p.title}}</h5>
            <p>{{p.blurb}}</p>
        </div>
        </div>
      </div>

  <app-projecthighlight [project]="selectedProject"></app-projecthighlight>
</div>
