<div class="project-page">
  <app-title title="Projects" blurb="The creation of these projects allowed me to gain experience dealing with bigger projects and were also
  get practice grounds for trying out new technologies. All projects are open source and the code is
        available to view on GitHub, with a link included with each project."></app-title>
    <div class="card-container">
      <div class="project-card"
           *ngFor="let p of projects; let i = index;"
      (click)="onChangeProject(i)"
      [ngClass]="selectedProject == p ? 'selected' : ''">
          <div class="img-container">
            <img src="{{p.media[0].link}}">
          </div>
          <div class="info">
            <h5>{{p.title}}</h5>
            <p>{{p.blurb}}</p>
        </div>
        </div>
      </div>

  <app-projecthighlight [project]="selectedProject"></app-projecthighlight>
</div>
