<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">PMProjects</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/problemsolving" routerLinkActive="active">Problem Solving</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
  </ul>
</nav>
<main>
<!--  <router-outlet></router-outlet>-->
<!--  <app-skillitem technology="Operating System"></app-skillitem>-->
<!--  <app-skillpage></app-skillpage>-->
<app-solvingpage></app-solvingpage>
<!--  <app-projectpage></app-projectpage>-->
</main>
<app-footer></app-footer>
