<main>
  <app-title title="Contact" blurb="I'm currently looking for internship position and would be very please to hear from you.
  Please contact me via my online accounts, or send me a message and I'll get back to you."></app-title>
  <section>
    <div class="container">
      <app-socialbutton company="LinkedIn"></app-socialbutton>
      <app-socialbutton company="GitHub"></app-socialbutton>
      <app-socialbutton company="Codewars"></app-socialbutton>
    </div>
    <app-contactform></app-contactform>
  </section>
</main>
