section {
  display: grid;
  place-items: center;
  width: 100%;
}

section > * {
  width: 100%;
  padding: 0px 100px 50px 100px;
}

.container {
  display: grid;
  place-items: center;
}

@media (min-width: 800px) {
  section {
    grid-template-columns: 40% auto;
  }
}
