<main>
  <div class="jumbotron title">
    <div>
      <h1 class="display-3">Contact</h1>
      <p>
        I'm currently looking for internship position. Contact me via my online accounts, or send me a message and I'll get back to you.
      </p>
    </div>
  </div>

  <section>
    <div class="container">
      <app-socialbutton company="LinkedIn"></app-socialbutton>
      <app-socialbutton company="GitHub"></app-socialbutton>
      <app-socialbutton company="Codewars"></app-socialbutton>
    </div>
    <app-contactform></app-contactform>
  </section>


</main>
